@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  min-height: 100vh;
  background-color: #111;
}

nav {
  background-color: #070707;

  & .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 120rem;
    width: 90%;
    margin: 0 auto;
    padding: 1.5rem 0;

    & .logo {
      & a {
        color: #fff;
        cursor: pointer;
        font-size: 2.4rem;
        font-weight: 600;
        text-decoration: none;
      }
    }

    & .nav-items {
      display: flex;
      align-items: center;

      @media (max-width: 750px) {
        display: none;
      }

      & :not(.nav-item:last-child) {
        margin-right: 2rem;
      }

      & .nav-item {
        list-style: none;
        font-size: 1.4rem;
        border-radius: 0.5rem;
        font-weight: 400;
        padding: 1rem;
        cursor: pointer;
        color: #777;
        transition: all 200ms ease;

        &:hover {
          color: #fff;
          background-color: #000;
          box-shadow: 0 4px 8px 0 rgba(255, 255, 255, 0.2);
        }
      }
    }
  }
}

.text {
  user-select: none;
  width: 90%;
  max-width: 120rem;
  margin: 3rem auto;
  padding: 1rem 2rem;
  background-color: #000;
  color: #fff;
  font-size: 3rem;
  font-weight: lighter;
  border-bottom: 2px solid #f33300;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  @media (max-width: 750px) {
    font-size: 2.2rem;
  }
}

main {
  display: flex;
  width: 80%;
  max-width: 110rem;
  margin: 2rem auto;
  gap: 1.5rem;

  @media (max-width: 750px) {
    flex-direction: column;
    width: 90%;
  }

  & .result {
    flex: 0 auto;
    background-color: #f30000;
    border-radius: 0.5rem;
    padding: 1rem 5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    & h2 {
      font-size: 2rem;
      font-weight: lighter;
      & span {
        font-size: 5rem;
      }
    }

    & p {
      font-size: 3rem;
      font-weight: lighter;
    }
  }

  & .text-area {
    flex: 1;

    & textarea {
      background-color: #292929;
      width: 100%;
      border: 2px solid #fff;
      border-radius: 0.5rem;
      resize: vertical;
      color: #fff;
      padding: 2rem;
      font-size: 1.8rem;
      font-family: "Open Sans", sans-serif;
      height: 100%;
      transition: all 300ms ease;

      &:focus {
        outline: none;
      }
    }
  }
}
